@charset "UTF-8";

*,
html,
body {

    margin: 0;
    padding: 0;

}

html,
body {

    height: 100%;

}


#menuLink {

    margin: 14% 0;
    color: black;
    text-decoration: none;
    cursor: pointer;

}

#menuLink:hover {

    color: rgb(117, 106, 106);

}

#solMenu {

    white-space: nowrap !important;
    overflow: hidden !important;
    height: 100%;

}

.list-group>button {

    border-right: 0;
    border-left: 0;
    height: 50px;

}

#menuAc {

    color: black;

}

#menuAcIcon {

    font-size: 30px;

}

#iconVeYaziAlan {

    position: relative;
    width: 40px;
    height: 50px;

}

#iconVeYaziAlanIcon {

    position: absolute;
    font-size: 30px;
    cursor: pointer;

}

#iconVeYaziAlanYazi {

    position: absolute;
    left: 15px;
    cursor: pointer;

}

#profilAlan {

    margin-left: 10px;
    width: 115px;
    display: flex;
    justify-content: space-between;
    position: relative;


}

#fotoAlanIcon {

    font-size: 30px;

}

#ustMenuDiv {

    display: flex;
    background-color: rgba(195, 202, 214, 0.377);

}

.active {

    background-color: rgb(168, 174, 185) !important;
    color: white !important;
    border: 0 !important;
   
}

#mobilSolMenu {

    display: none;

}

.list-group>button:nth-child(1) {

    white-space: normal !important;
    height: 75px !important;

}

#mobilSolMenuUl  a{

    padding:10px;

}

#haklariSaklidirParagraf{

    color: #6c757d;
    font-size: 13px; 
    font-weight: bold;
    position:fixed; 
    top:95%; 
    margin: 0 auto; 
    left: 0;
    right: 0;

}

/* kartlar */
.cardLinkleri {

    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    color: white;

}

.sayiVeIconAlan {

    display: flex;
    justify-content: space-between;

}

.cardYazi {

    font-weight: bold;

}

.card-footer {

    padding-top: 3px;
    padding-bottom: 3px;

}

.detayYazi {

    font-size: 20px;

}

.detayIcon {

    font-size: 17px;

}


/* Kartlara özel bölüm */

#card1card-body {

    background-color: rgb(23, 162, 183);

}

#card1CardIcon {

    font-size: 35px;
    color: rgb(88, 192, 205);

}

#card1CardFooter {

    background-color: rgb(22, 144, 165);

}

#card1cardLinkleri:hover {

    color: rgb(170, 219, 228) !important;

}



#card2card-body {

    background-color: rgb(39, 168, 68);

}

#card2CardIcon {

    font-size: 35px;
    color: rgb(106, 193, 122);

}

#card2CardFooter {

    background-color: rgb(37, 151, 56);

}

#card2cardLinkleri:hover {

    color: rgb(170, 235, 180) !important;

}



#card3card-body {

    background-color: rgb(254, 193, 7);

}

#card3CardIcon {

    font-size: 35px;
    color: rgb(252, 204, 78);

}

#card3CardFooter {

    background-color: rgb(228, 170, 10);

}

#card3cardLinkleri:hover {

    color: rgb(235, 209, 140) !important;

}



#card4card-body {

    background-color: rgb(219, 52, 69);

}

#card4CardIcon {

    font-size: 35px;
    color: rgb(228, 111, 119);

}

#card4CardFooter {

    background-color: rgb(198, 47, 56);

}

#card4cardLinkleri:hover {

    color: rgb(194, 133, 136) !important;

}